@import '../../../variables';

.bg-wrapper {
    min-height: 35vh;
    padding: 1rem 10vw;
    background: url('../../../assets/Portfolio/bg.png') no-repeat;
    background-size: cover;
    background-position: 50% bottom;
    display: flex;
    align-items: flex-end;
    h1 {
        color: $light;
        font-weight: 500;
        font-size: 2rem;
    }
}

.projects {
    padding-top: 0;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project {
    padding: .9rem .9rem .7rem .9rem;
    background-color: #232323;
    color: $light;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    .link {
        margin: .8em 0;
        display: flex;
        flex-direction: column;
    }
}

.stats {
    color: #A9A9A9;
    display: flex;
    align-items: center;
    img {
        max-height: .9em;
        margin-right: .4em;
    }
    p {
        max-width: 100%;
    }
    .dot {
        margin: 0 1rem;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #A9A9A9;
    }
}

@media all and (min-width: 640px) {
    .bg-wrapper {
        padding: 1rem 12vw;
    }
}

@media all and (min-width: 1080px) {
    .bg-wrapper {
        min-height: 40vh;
        padding: 1rem 14vw;
        h1 {
            font-size: 2.5rem;
        }
    }
}