:root {
  --custom-width: 0%;
}

.section {
  background-color: #181818;
  padding: 3rem 10vw;
}

.s-landing {
  background: url("../../../assets/Home/main-background.png") no-repeat;
  background-size: cover;
  background-position: 28%;
  background-color: #181818;
  display: flex;
  align-items: center;
  position: relative;
}
.s-landing .arrow-down {
  position: absolute;
  max-width: 3rem;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

.main-titles {
  margin: 0.5in 0 1in 0;
}
.main-titles h1,
.main-titles h2 {
  color: #FFFFFF;
}
.main-titles h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0.6em 0 1.2em 0;
}
.main-titles h1 .line-wrapper {
  display: block;
  overflow: hidden;
}
.main-titles h1 .line {
  display: inline-block;
  transform: translateY(-100%);
  transition: transform 800ms ease;
}
.main-titles h1 .line-active {
  transform: translateY(0%);
}
.main-titles h2 {
  display: none;
  font-weight: 300;
  line-height: 170%;
  margin-bottom: 1.8em;
  color: rgba(255, 255, 255, 0.8);
}

.landing-logo {
  display: none;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  gap: min(6vw, 2.5rem);
}
.main-buttons a {
  opacity: 0;
  transition: opacity 600ms ease-out 600ms;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}
.main-buttons a:first-child {
  opacity: 0;
  background-color: #3A86FF;
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  transition: padding-right 150ms ease-out, opacity 600ms ease-out 400ms;
}
.main-buttons a:first-child img {
  position: absolute;
  right: 1em;
  max-height: 1em;
  margin-left: 0.6em;
  opacity: 0;
  transition: none;
}
.main-buttons a:first-child:hover {
  padding-right: 3.5em;
}
.main-buttons a:first-child:hover img {
  display: block;
  -webkit-animation: arrowSlide 150ms ease-out;
          animation: arrowSlide 150ms ease-out;
  opacity: 1;
  transition: opacity 300ms ease-out 40ms;
}
.main-buttons a:last-child {
  border: 1px solid rgba(58, 134, 255, 0.4);
  color: #3A86FF;
}

.main-buttons.active a {
  opacity: 1;
}

@-webkit-keyframes arrowSlide {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes arrowSlide {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.s-description,
.s-advantages {
  color: #FFFFFF;
  text-align: center;
  line-height: 2.2em;
  display: flex;
  justify-content: center;
}

.s-description {
  background: url("../../../assets/Home/descrip-background.png") no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #181818;
  padding-top: 1in;
}

.description {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description img {
  max-height: 1.3in;
  max-width: 1.3in;
  margin-bottom: 1em;
}
.description p {
  font-size: 1.1rem;
  max-width: 5in;
  display: flex;
  flex-direction: column;
}
.description p::after,
.description p::before {
  content: "";
  width: var(--custom-width);
  display: block;
  height: 2px;
  background-color: #A9A9A9;
  margin: 1em 0;
}
.description p::before {
  align-self: flex-end;
}

.advantages-grid {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1in;
}

.advantage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantage-div h2 {
  margin: 2em 0 1em 0;
  font-size: 1.8rem;
  line-height: 1.6em;
}
.advantage-div p {
  font-size: 1.1rem;
  color: #A9A9A9;
  margin: 0;
  max-width: 6in;
}

@media all and (min-width: 640px) {
  .main-titles h1 {
    font-size: 3rem;
    max-width: 20ch;
  }

  .section {
    padding: 3rem 12vw;
  }
}
@media all and (min-width: 1080px) {
  .s-landing {
    background-position-y: top !important;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .section {
    padding: 1.2in 14vw;
  }

  .main-titles {
    margin-top: 5rem;
    margin-bottom: 1.5in;
  }
  .main-titles h1 {
    font-size: min(2.5rem + 1.5vw, 4.2rem);
  }

  .main-buttons {
    font-size: min(1.1rem + 0.2vw, 1.4rem);
  }

  .description img {
    max-height: 1.6in;
    max-width: 1.6in;
  }
  .description p {
    font-size: 1.3rem;
    line-height: 2em;
    max-width: 6in;
  }
}/*# sourceMappingURL=home.css.map */