@import '../../../variables';

.section {
    background-color: $dark;
    padding: 3rem 10vw;
}

.s-landing {
    background: url('../../../assets/Home/main-background.png') no-repeat;
    background-size: cover;
    background-position: 28%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;

    .arrow-down {
        position: absolute;
        max-width: 3rem;
        bottom: 1.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main-titles {
    margin: .5in 0 1in 0;
    h1,
    h2 {
        color: $light;
    }
    
    h1 {
        font-weight: 600;
        font-size: 2.5rem;
    }

    h2 {
        font-weight: 300;
        line-height: 170%;
        margin-bottom: 1.8em;
        color: rgba($light, 0.8)
    }
}

.main-buttons {
    display: flex;
    gap: 6vw;
    flex-wrap: wrap;
    align-items: flex-start;
    a {
        font-size: 1.1rem;
        text-decoration: none;
        padding: .5em 1em; 
        border-radius: .2em;
    }
    a:first-child {
        background-color: $primary;
        color: $light;
        display: flex;
        align-items: center;
        img {
            max-height: 1em;
            margin-left: .6em;
        }
    }
    a:last-child {
        border: 1px solid rgba($primary, 0.4);
        color: $primary;
    }
}

.s-description,
.s-advantages {
    color: $light;
    text-align: center;
    line-height: 2.2em;
    display: flex;
    justify-content: center;
}

.s-description {
    background: url('../../../assets/Home/descrip-background.png') no-repeat;
    background-size: contain;
    background-color: $dark;
}

.description {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-bottom: 1em;
    }
    p {
        padding: 1em 0;
        font-size: 1.1rem;
        border-top: 2px solid #A9A9A9;
        border-bottom: 2px solid #A9A9A9;
    }
}



.advantages-grid {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1in;
}

.advantage-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 2em 0 1em 0;
        font-size: 1.8rem;
        line-height: 1.6em;
    }
    p {
        font-size: 1.1rem;
        color: $grey;
        margin: 0;
    }
}
