@import '../../../variables';

.s-contact {
    padding-top: 1in;
    h1 {
        font-size: 2rem;
        font-weight: 500;
        color: $light;
        margin-bottom: 0.5em;
    }
    h3 {
        margin-top: 0;
        font-weight: 300;
        color: $grey;
    }
}

.form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .input-div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    label {
        font-size: 1.2rem;
        color: $light;
    }
    input,
    textarea {
        resize: none;
        font-size: 1rem;
        font-weight: 300;
        padding: .6em 1em;
        background-color: #404040;
        border-radius: .4em;
        border: 1px solid #404040;
        color: $light;
        max-width: 100%;
    }

    textarea {
        min-height: 10em;
    }

    button {
        align-self: flex-end;
        display: flex;
        align-items: center;
        margin-top: .6em;
        padding: .6em 2em;
        background-color: $primary;
        color: $light;
        font-weight: 600;
        font-size: 95%;
        border-radius: .5em;
        cursor: pointer;
        border: 1px solid $primary;
        img {
            max-height: .9em;
            margin-left: .5em;
        }
    }
}

.horizontal-line {
    height: 1px;
    border-radius: 50%;
    background-color: rgba($grey, 0.5);
    margin: 3rem 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: $grey;
    img {
        max-height: 1.5em;
        max-width: 1.5em;
        margin-bottom: .5em;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .4em;
    }
}